/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
html {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-y: scroll;
}

body {
  /*max-width: 1140px;
  margin: auto;
    font-size: 14px;
  line-height: 1;*/
  font-family: "Work Sans";
  min-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
}

main {
  width: 948px;
  margin: 100px auto 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  font-size: 14px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav {
  width: 28%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li img {
  height: 1em;
  width: 1em;
}

nav li a {
  text-decoration: none;
  color: black;
}

li:hover,
a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  margin: 0 auto 100px auto;
}
#introduction figure {
  flex: 1;
  min-width: 50%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  flex: 1;
  margin: 0 0 0 70px;
  max-width: 50%;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  font-size: 14px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio figcaption,
#contact p {
  font-size: 14px;
}

/****** Filters ******/
.filters {
  display: flex;
  justify-content: center;
  margin: 2.5em 2.5em 3em 2.5em;
  padding-top: 1em;
  font-size: 15px;
}

.filterSingle {
  color: #1d6154;
  text-decoration: none;
  background-color: white;
  padding: 0.5em 0.6em 0.5em 0.6em;
  margin: 0 0.4em 0em 0.4em;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #1d6154;
  border-radius: 50px;
  min-width: 5em;
}

.selected {
  background-color: #1d6154;
  color: white;
}
/****** Gallery ******/

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact,
#loginform {
  width: 40%;
  margin: auto;
}
#contact > *,
#loginform > * {
  text-align: center;
}
#contact h2,
#loginform h2 {
  margin-bottom: 20px;
}
#contact form,
#loginform form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#loginform form p {
  text-align: center;
  text-decoration: underline;
}

#contact input,
#loginform input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#loginform label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#loginform .invalid {
  box-shadow: 0px 4px 14px rgba(255, 0, 0, 0.4);
}

footer {
  font-size: 14px;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.footerNav {
  width: auto;
  padding: 0 80px 24px 0;
}

/****** CSS for Login page ******/
#loginform .error {
  color: red;
  align-self: flex-start;
  text-decoration: none;
  margin-top: 0.5em;
}

/****** CSS Edit Menu On *******/
.editon {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;

  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  margin-bottom: 40px;
}

a.editLink {
  text-align: center;
  position: relative;
  bottom: 50px;
  left: 580px;
}

.editon i {
  margin-right: 10px;
}

.hidden,
section .hidden {
  display: none;
}

/******* Edit Modal CSS ******/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalBody {
  background-color: white;
  width: 630px;
  height: 688px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.iconesModal {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

.iconesModal .fa-solid {
  font-size: 1.3em;
}

.modal-wrapper {
  padding: 0 100px 0px 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-wrapper h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.modal-wrapper .fa-xmark {
  width: 100%;
  text-align: end;
  position: relative;
  bottom: 30px;
  left: 70px;
  font-size: 1.4em;
}

.galleryModif {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.galleryModif img {
  width: 100%;
}

.galleryModif i {
  position: relative;
  bottom: 96px;
  left: 48px;
  color: white;
  background-color: black;
  padding: 4px;
  border-radius: 5px;
}

.addWorkWrapper {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.fileUploadWrapper {
  background-color: rgb(223, 232, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  min-height: 169px;
  max-height: 169px;
}

.fileUploadWrapper img {
  max-height: 100%;
}

.titleAndCategory {
  height: 65%;
  display: flex;
  flex-direction: column;
}

.titleAndCategory input,
.titleAndCategory select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.titleAndCategory select:active {
  outline: none;
  border: none;
}
.titleAndCategory label {
  margin: 2em 0 1em 0;
}
.titleAndCategory textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.fileUploadWrapper i {
  color: grey;
  font-size: 4em;
  margin: 20px 0 12px 0;
}

.fileUploadWrapper label {
  background-color: grey;
  padding: 8px 28px 8px 28px;
  border-radius: 50px;
  color: rgb(62, 98, 149);
}

.addWorkWrapper {
  display: flex;
  flex-direction: column;
}

.fileUploadWrapper p {
  font-size: 12px;
  margin-top: 4px;
}

.inputAddWrapper,
.inputAddValidateWrapper {
  display: flex;
  border-top: 2px solid gray;
  align-items: center;
  height: 20%;
}

.inputAddWrapper input,
.inputAddValidateWrapper input {
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#imageUpload {
  display: none;
}

.inputAddValidateWrapper .disabled {
  background-color: gray;
}
